
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5 sans-serif;
	color: #999;
	background-color: #fff;
}
img {
	/*border: solid 1px;*/
	padding: 5px;
}

p.p2 {
	color: #fff;
}

/* links */
a {
  color: #4D93A4;
}

/* nav link */
nav a, nav a:visited { /*pesudo class*/
  color: #3F7785;
}

/* selected nav link */ 
nav a.selected, nav a:hover {
  color: #3F7785;
  
}

/* Main Layout Styles
================================ */

.main-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #6DABBB; 
}
.main-logo {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}


.main-logo a, 
.main-nav a {
	display: block;
	text-align: center;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}
.main-logo a { 
	background-color: #4D93A4; 
}
.main-nav a { 
	background-color: #3f8abf; 
}
.main-nav a.selected, a:hover {
	color: #6DABBB;
}

.main-footer {
	text-align: center;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
 	background-color: #fff;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px; /*0 top/bott, 5 left/right*/
}

/**********************
PAGE: CONTACT
***********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block; /*anchor elemnts will take up space*/
  min-height: 20px; 
  background-repeat: no-repeat; /*bg images always repeat by default*/
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
} 

.contact-info li.mail a {
  background-image: url('../img/mail.png');
} 

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
} 


/**********************
PAGE: GALLERY
***********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none; /*removes the list bullet points*/
}

#gallery li { /*styles the list elements*/
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p { /* styles the elements in the gallery id*/
  margin: 0;
  padding: 10%;
  font-size: 0.75em;
  color: #bdc3c7;
}

@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */

	body {
		padding-top: 75px;
	}
	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
	}
	.main-nav {
		text-align: center;
	}
	.main-nav li {
		margin-top: 6px;
		margin-left: 10px;
		display: inline-block;
	}
	.main-banner {
		background: #4D93A4;
		text-align: center;
		padding: 5px 0px;
		margin-bottom: 10px;
	}

	/* Imagery
	================================ */

	/*.feat-img {
		width: 45%;
		float: left;
		margin: 5px 20px 10px 0;
	}*/

	.profile-photo {
	display: block; /* display + margin auto technique: for flexibility for display layout*/
	float: left;
	max-width: 150px;
	margin: 60px 10px 0px 0px; /*top, l-r, bottom*/
	border-radius: 10%;
	}
	
}

@media (min-width: 1px) and (max-width: 767px)  {
	.main-nav li {
		margin-top: 12px;
	}

	#wrapper {
    text-align: center;
	}
	
	.profile-photo {
	display: inline;
	float: none;
	max-width: 50%;
	margin: 30px 0px -30px 0px;
	border-radius: 10%;
}